/* INSTRUCTIONS */
.how_to_play_title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 5%;
    color: #FEF2BF;
}

.instruction_list {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    line-height: 1.6em;
    margin: 5%;
    color: #FEF2BF;
    list-style: none;
}

.instruction_list_item {
    margin-bottom: 25px;
}

/* @MEDIA */
@media screen and (max-width: 1024px) {
    .instruction_list_item {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 560px) {
    .how_to_play_title {
        font-size: 1.5rem;
    }

    .instruction_list {
        font-size: 0.75rem;
    }

    .instruction_list_item {
        margin-bottom: 5%;
    }

}