/* BODY */
body {
  text-align: center;
  background-color: #011F3F;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

/* TITLE */
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#level-subtitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;
}

/* INFO */
.info {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 5px;
  border: solid 8px #FEF2BF;
  cursor: pointer;
}

.info > p {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 5px;
  cursor: pointer;
}

.close > p {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

/* BUTTONS */
button {
  cursor: pointer;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.start-button {
  background-color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: auto;
  padding: 0 25px;
  border: 10px solid black;
  border-radius: 15%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* INSTRUCTIONS */
.how-to-play-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.instruction-list {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

.instruction-list-item {
  margin-bottom: 1%;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.fade-in-out.show {
  opacity: 1;
}

/* @MEDIA */
@media screen and (max-width: 1024px) {
  .container { 
    width: 100%;
    margin: auto;
  }

  .instruction-list-item {
    margin-bottom: 3%;
  } 
}

@media screen and (max-width: 560px){
  .btn {
    height: 100px;
    width: 100px;
  }

  .how-to-play-title {
    font-size: 1.5rem;
  }

  .instruction-list {
    font-size: 0.75rem;
  }

  .instruction-list-item {
    margin-bottom: 5%;
  }

}